[submodule "telestion-core"]
	path = telestion-core
	url = git@github.com:wuespace/telestion-core.git
[submodule "telestion-client"]
	path = telestion-client
	url = git@github.com:wuespace/telestion-client.git
[submodule "telestion-docs"]
	path = telestion-docs
	url = git@github.com:wuespace/telestion-docs.git
