[submodule "telestion-core"]
	path = telestion-core
	url = git@github.com:wuespace/telestion-core.git
[submodule "telestion-client"]
	path = telestion-client
	url = git@github.com:wuespace/telestion-client.git
[submodule "telestion-docs"]
	path = telestion-docs
	url = git@github.com:wuespace/telestion-docs.git
[submodule "telestion-templates/telestion-extension-template"]
	path = telestion-templates/telestion-extension-template
	url = https://github.com/wuespace/telestion-extension-template
[submodule "telestion-templates/telestion-project-template"]
	path = telestion-templates/telestion-project-template
	url = git@github.com:wuespace/telestion-project-template.git
[submodule "telestion-extensions/telestion-extension-sample"]
	path = telestion-extensions/telestion-extension-sample
	url = git@github.com:wuespace/telestion-extension-sample.git
[submodule "telestion-extensions/telestion-extension-mavlink"]
	path = telestion-extensions/telestion-extension-mavlink
	url = git@github.com:wuespace/telestion-extension-mavlink.git

